@page "/ReOperaciones"
@model OperacionesMatematicas.Pages.OperacionesModel
@{
    ViewData["Title"] = "Operaciones";
}

<h1>Operaciones</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
        </form>
    </div>
</div>

